<!-- src/app/pages/loginComponent/login-component.html -->
<div class="login-wrapper">
  <div class="login-card">
    <h2>Login</h2>
    <p>Please login using account details below.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email" placeholder="Email Address" formControlName="email" />

        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
          <small class="error-text">Please enter a valid email address.</small>
        }
      </div>

      <div class="form-group">
        <input type="password" placeholder="Password" formControlName="password" />

        @if (
          loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']
        ) {
          <small class="error-text">Password must be at least 6 characters.</small>
        } @else if (
          loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']
        ) {
          <small class="error-text">Password is required.</small>
        }
      </div>

      <a class="forgot-password">Forgot your password?</a>

      <button type="submit" class="btn-primary" [disabled]="loginForm.invalid">Sign In</button>
    </form>
    <div class="social-logins">
      @for (provider of ['Google', 'Facebook', 'GitHub']; track provider) {
        <button class="social-btn {{ provider.toLowerCase() }}">Login with {{ provider }}</button>
      }
    </div>

    <div class="footer-link">Don't have an Account? <a href="#">Create account</a></div>
  </div>
</div>
