<!-- src/app/shopProduct/shopProduct.component.html -->
<!-- src/app/shopProduct/shopProduct.html -->
<div
  class="product-card"
  [ngClass]="{
    list: layout() === 'list',
    grid: layout() === 'grid',
  }"
>
  <div class="image-container">
    <img [src]="product().url" [alt]="product().title" />
  </div>

  <div class="content-container">
    <div class="header">
      <h3 class="heading-4">{{ product().name }}</h3>
      <div class="rating">
        @for (item of [1, 2, 3, 4, 5]; track $index) {
          <span class="fa fa-star star" [class.checked]="item <= product().rating"> </span>
        }
      </div>
    </div>

    <div class="pricing">
      <span class="current-price">{{ product().currentPrice| currency }}</span>
      <span class="original-price">{{ product().originalPrice| currency }}</span>
    </div>

    <p class="description">
      {{ product().description }}
    </p>

    <div class="actions">
      <button><img src="Basket-icon.svg" alt="basket" (click)="handleAction('basket')" /></button>
      <button><img src="heart-icon.svg" alt="heart icon" (click)="handleAction('like')" /></button>
      <button>
        <img
          src="Zoom-icon.svg"
          alt="Zoom icon"
          style="transform: scale(2.5)"
          (click)="handleAction('Zoom')"
        />
      </button>
    </div>
  </div>
</div>

@if (isZoomed) {
  <div class="zoom-overlay" (click)="isZoomed = false">
    <div class="zoom-content" (click)="$event.stopPropagation()">
      <img [src]="product().url" [alt]="product().name" />
      <button class="close-btn" (click)="closeZoom()">Close</button>
    </div>
  </div>
}
