<!-- src/app/header/header.component.html -->

<header>
  <div class="infoWrapper">
    <div class="container height">
      <div class="genInfo">
        <div class="contact">
          <div class="email">
            <img src="white-Email.svg" class="icon" />
            <a href="mailto:mhhasanul@gmail.com">mhhasanul@gmail.com</a>
          </div>
          <div class="call">
            <img src="white-call.svg" class="icon" />
            <p>(12345)67890</p>
          </div>
        </div>
      </div>
      <div class="options">
        <ul class="options__list">
          @for (menu of dropdownConfigs(); track menu.id) {
            <li class="options__item dropdown" (click)="toggleDropdown(menu.id)">
              <span>{{ menu.label }}</span>
              <img
                src="white-arrow.svg"
                alt="arrow"
                [class.rotate]="activeDropdown() === menu.id"
              />
              @if (activeDropdown() === menu.id) {
                <ul class="dropdown-menu">
                  @for (item of menu.data; track item) {
                    <li (click)="selectItem(menu.id, item); $event.stopPropagation()">
                      {{ item }}
                    </li>
                  }
                </ul>
              }
            </li>
          }
          @for (option of menuOptions; track option) {
            <li class="options__item" (click)="handleNavigation(option.optionName)">
              <a>{{ isBasket(option) ? '' : option.optionName }}</a>
              <img [src]="option.optionImg" [alt]="option.optionName" />
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <nav>
      <ul class="nav-list container">
        @for (navItem of navItems; track $index) {
          <li
            class="nav__item"
            [class.big]="navItem === 'Heckto'"
            (click)="handleNavigation(navItem, undefined, $index)"
          >
            <a [class.active]="isActiveNav($index)"> {{ navItem }}</a>
          </li>
        }
      </ul>
    </nav>
    <form class="search" (ngSubmit)="handleSearch()">
      <input
        type="text"
        name="searchQuery"
        placeholder="Search..."
        class="search__input"
        [(ngModel)]="searchQuery"
      />
      <button type="submit" class="search__button">
        <img src="Search-icon.svg" alt="" class="search__button" />
      </button>
    </form>
  </div>
  @if (showHero()) {
    <div class="hero-section">
      <div class="carousel-track" [style.transform]="getTransform()">
        @for (item of discountes; track item._id) {
          <div class="carousel-item">
            <app-discount [product]="item"></app-discount>
          </div>
        }
      </div>
      <div class="carousel-indicators">
        @for (item of discountes; track $index) {
          <span class="dot" [class.active]="currentIndex() === $index" (click)="goToSlide($index)">
          </span>
        }
      </div>
    </div>
  }
</header>
