@import '../../styles/variables';
.linkes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 6rem;
    min-height: 488px;
}

footer {
    flex: 1;
    margin-top: 4rem;
}

.additonal {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    gap: 3rem;
    a {
        text-decoration: none;
        color: $grey-3;
    }
}

.static-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: 56px;
}

.icons-container {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.bckColor-grey-1 {
    background-color: $grey-1;
}

.bckColor-grey-2 {
    background-color: $grey-2;
}