// src/styles/_buttons.scss
@import './variables';
.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 2rem;
    width: 166px;
    height: auto;
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: darken($primary, 5%);
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    &:active {
        transform: scale(0.97);
    }
}

.view-details-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    background: #08d15f;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 14;
}

.view-details-btn.visible {
    opacity: 1;
    transform: translateX(-50%) translateY(-25px);
}