.heading {
    color: $grey-4;
    font-weight: bold;
    &-1 {
        font-size: 3.25rem;
    }
    &-2 {
        font-size: 2.75rem;
        color: $grey-4;
    }
    &-3 {
        font-size: 2.25rem;
    }
    &-4 {
        font-size: 1.75rem;
    }
}

.subtitle {
    &-1 {
        font-size: 1.75rem;
    }
    &-2 {
        font-size: 1.375rem;
    }
    &-3 {
        font-size: 1.25rem;
    }
    &-4 {
        font-size: 1rem;
    }
}

.description {
    color: $grey-3;
    font-size: 16px;
    font-weight: 400;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    .nav__item {
        cursor: pointer;
        &.big a {
            font-size: 24px;
            font-weight: 700;
            color: #0d0e43;
            margin-right: 2rem;
        }
        a {
            text-decoration: none;
            color: #0d0e43;
            font-size: 16px;
            transition: 0.3s;
            &:hover {
                color: $primary;
            }
            &.active {
                color: $primary;
            }
        }
    }
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
}

.grey {
    color: $grey-3 !important;
}

.primary-color {
    color: $primary;
}

.font-size {
    font-size: 16px;
}