.heading {
  color: $grey-4;
  font-weight: bold;
  &-1 {
    font-size: 3.25rem;
  }
  &-2 {
    font-size: 2.75rem;
  }
  &-3 {
    font-size: 2.25rem;
  }
  &-4 {
    font-size: 1.75rem;
  }
}

.subtitle {
  &-1 {
    font-size: 1.75rem;
  }
  &-2 {
    font-size: 1.375rem;
  }
  &-3 {
    font-size: 1.25rem;
  }
  &-4 {
    font-size: 1rem;
  }
}

.description {
  color: $grey-3;
  font-size: 16px;
  font-weight: 400;
}
