$primary: #fb2e86;
$primary-dark: #f0056a;
$primary-light: #fc5fa2;
$secondary: #f9ba00;
$secondary-light: #fff3ce;
$tertiary: #7e33e0;
$danger: #fb2448;
$danger-light: #feb9c4;
$info: #603eff;
$info-light: #ddd6ff;
$success: #0cc562;
$success-dark: #00994c;
$success-light: #92f2bf;
$white: white;
$grey-1: #f8f8fd;
$grey-2: #e5e0fc;
$grey-3: #8a8fb9;
$grey-4: #101750;