@if (items().length > 0) {
  <div class="basket-container">
    <div class="basket-layout">
      <div class="products-column">
        <div class="products-list">
          @for (item of items(); track item.id) {
            <app-basket-item [itemInp]="item"> </app-basket-item>
          }
        </div>
      </div>

      <div class="summary-column">
        <h3 class="summary-title">Cart Totals</h3>
        <div class="summary-card">
          @for (tableItem of summaryTable(); track $index) {
            <div class="summary-row" [ngClass]="tableItem.className"> 
                <span>{{tableItem.title}}</span>
                @if (tableItem.title === 'total') {
                  <span>{{subtotal() + SHIPPING_COST | number : numberFormat.Currency}}</span>
                }
                @else {
                  <span>${{ subtotal() | number: numberFormat.Currency }}</span>
                } 
            </div>
          }
          <p class="shipping-info">Shipping: $100.00</p>
          <div class="flex-container">
            <button class="btn-primary">Proceed to checkout</button>
          </div>
        </div>
        <div class="basket-actions">
          <button class="btn-clear" (click)="clearCart()">Clear cart</button>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="empty">
    <div class="empty__img">
      <img src="empty-basket.svg" alt="empty basket img" />
    </div>
    <h2 class="heading-2">Your cart is empty</h2>
    <button class="btn-primary" (click)="startShopping()">Start Shopping</button>
  </div>
}
