// src/styles.scss
/* You can add global styles to this file, and also import other style files */

@use '../src/app/styles/variables';
@use '../src/app/styles/buttons' as *;
@use '../src/app/styles/typography' as *;
@use '../src/app/styles/global' as *;
@use '../src/app/styles/mixins' as *;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
}