/* You can add global styles to this file, and also import other style files */

@use './styles/_variables' as *;
@use './styles/buttons' as *;
@use './styles/typography' as *;
@use './styles/global' as *;
@use './styles/mixins' as *;
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
}